<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>PORTFOLIO</title>
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="icon" type="image/x-icon" href="/static/index/favicon.ico">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="flex-grow bg-pink-200">
      <div class="topnav">
            <nav>
                  <h1 class="p-1 font-bold text-2xl">AKSHITA PUNDIR</h1>
                  <div class="bar font-bold">
                        <ul>
                              <li><a href="index.html">HOME</a></li>
                              <li>
                                    <div class="dropdown">
                                          <button class="dropbtn font-bold">ACADEMICS</button>
                                          <div class="dropdown-content">
                                                <a href="#" class="hover:text-white">School</a>
                                                <a href="#" class="hover:text-white">College</a>
                                          </div>
                                    </div>
                              </li>
                              <li><a href="learnings.html">LEARNINGS</a></li>
                              <li><a href="#contact">CONTACT</a></li>
                        </ul>
                  </div>
            </nav>
      </div>
      <main>
            <h1 class="p-20 w-full text-white font-bold text-8xl text-center bg-blue-400">Personal</h1>
            <hr class="border-1 border-white">
            <hr class="border-2 border-blue-500">
            <h2 class="ml-20 p-10 font-bold text-3xl">Hobbies</h2>
            <div class="ml-40">
                  <h1 class="font-bold text-xl">Crafting</h1>
                  <p class="text-justify p-5">Crafting is a creative process that involves transforming raw materials
                        into beautiful, functional, or artistic items. It allows individuals to express their creativity
                        and develop their skills through various techniques such as knitting, woodworking, painting, and
                        jewelry making. Crafting can be a therapeutic and rewarding hobby, providing a sense of
                        accomplishment and satisfaction. Whether creating handmade gifts, home décor, or personal
                        accessories, crafting brings joy and a unique personal touch to everyday life.</p>

                  <h1 class="font-bold text-xl">Astrophile</h1>
                  <p class="text-justify p-5">An astrophile is someone who loves the stars and celestial phenomena. They
                        are
                        often captivated by the mysteries of the universe, finding joy in stargazing and studying
                        astronomical
                        events. This passion for the cosmos fuels their curiosity and inspires a sense of wonder about
                        the
                        vastness of space and the beauty of the night sky.</p>
            </div>
            <h2 class="ml-20 p-10 font-bold text-3xl">Memories</h2>
            <div class="flex flex-wrap justify-center">
                  <div class="flex flex-col items-center m-2">
                        <img src="/static/personal/craft.jpg" alt="Tribute Page Image"
                              class="w-64 h-64 border-4 border-gray-800 rounded-md">
                        <div class="text-lg font-bold text-center mt-2">creativity1</div>
                  </div>

                  <div class="flex flex-col items-center m-2">
                        <img src="https://petapixel.com/assets/uploads/2013/07/memories.jpg"
                              alt="Random Quote Machine Image" class="w-64 h-64 border-4 border-gray-800 rounded-md">
                        <div class="text-lg font-bold text-center mt-2">creativity2</div>
                  </div>

                  <div class="flex flex-col items-center m-2">
                        <img src="https://petapixel.com/assets/uploads/2013/07/memories.jpg"
                              alt="JavaScript Calculator Image" class="w-64 h-64 border-4 border-gray-800 rounded-md">
                        <div class="text-lg font-bold text-center mt-2">creativity3</div>
                  </div>
            </div>


      </main>

      <div id="contact">
            <section class="bg-black">
                  <h2 class="text-4xl font-bold mb-4 text-white p-7 m-5">Get in Touch</h2>
                  <p class="text-lg mb-4 text-white ml-7">&nbsp;&nbsp;&nbsp;Feel free to reach out to us anytime for
                        assistance or inquiries!</p>
                  <div class="p-5 ml-7">
                        <a href="mailto:contact@example.com" target="_blank"
                              class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
                              <i class="fas fa-envelope fa-2x"></i>
                        </a>
                        <a href="https://linkedin.com/in/yourlinkedinprofile" target="_blank"
                              class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
                              <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://github.com/explore-new" target="_blank"
                              class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
                              <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="https://pinterest.com/yourpinterestprofile" target="_blank"
                              class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
                              <i class="fab fa-pinterest fa-2x"></i>
                        </a>
                        <a href="https://instagram.com/yourinstagramprofile" target="_blank"
                              class="text-white hover:text-gray-300 transition duration-300 ease-in-out">
                              <i class="fab fa-instagram fa-2x"></i>
                        </a>
                  </div>
            </section>
      </div>
</body>

</html>