<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PORTFOLIO</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="/static/index/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="flex-grow bg-pink-200">
  <div class="topnav">
    <nav>
      <h1 class="p-1 font-bold text-2xl">AKSHITA PUNDIR</h1>
      <div class="bar font-bold">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li>
            <div class="dropdown">
              <button class="dropbtn font-bold">ACADEMICS</button>
              <div class="dropdown-content">
                <a href="#" class="hover:text-white">School</a>
                <a href="#" class="hover:text-white">College</a>
              </div>
            </div>
          </li>
          <li><a href="learnings.html">LEARNINGS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <h1 class="p-20 w-full text-white font-bold text-8xl text-center bg-pink-400">Skills</h1>
    <hr class="border-1 border-white">
    <hr class="border-2 border-pink-500">
    <div class="flex items-center space-x-5 mb-10 p-4">
      <a href="#">
        <div class="circle bg-green-500 border-2 border-green-900 w-16 h-16 rounded-full">C</div>
      </a>
      <a href="">
        <div class="circle bg-yellow-500 border-2 border-yellow-900 w-16 h-16 rounded-full m-10">CPP</div>
      </a>
      <a href="">
        <div class="circle bg-green-500 border-2 border-green-900 w-16 h-16 rounded-full">Python</div>
      </a>
      <a href="">
        <div class="circle bg-yellow-500 border-2 border-yellow-900 w-16 h-16 rounded-full">Java</div>
      </a>
      <a href="">
        <div class="circle bg-green-500 border-2 border-green-900 w-16 h-16 rounded-full">MySQL</div>
      </a>
      <a href="">
        <div class="circle bg-yellow-500 border-2 border-yellow-900 w-16 h-16 rounded-full m-10">R</div>
      </a>
      <a href="">
        <div class="circle bg-green-500 border-2 border-green-900 w-16 h-16 rounded-full">HTML</div>
      </a>
      <a href="" target="_blank">
        <div class="circle bg-yellow-500 border-2 border-yellow-900 w-16 h-16 rounded-full">CSS</div>
      </a>
      <a href="">
        <div class="circle bg-green-500 border-2 border-green-900 w-16 h-16 rounded-full">TailWind</div>
      </a>
    </div>
    <div class="text-2xl font-bold ml-10">
      <p>Some of the Projects:</p>
    </div>
    <div class="p-4 m-4 flex flex-wrap">
      <!-- QR Code Generator and Reader -->
      <div
        class="w-60 h-72 border-2 border-black rounded-sm m-2 p-2 mb-4 text-center font-bold flex flex-col justify-between mx-auto">
        QR Code Generator and Reader
        <hr class="w-full border-2 border-black">
        <div class="text-justify font-normal p-2 flex-grow">
          <ul class="list-disc list-inside">
            <li>Implemented a program to generate and read the QR.</li>
            <li>Coloured QR code generation and reading is also possible.</li>
          </ul>
        </div>
      </div>

      <!-- Vocalize Bridge -->
      <div
        class="w-60 h-72 border-2 border-black rounded-sm m-2 p-2 mb-4 text-center font-bold flex flex-col justify-between mx-auto">
        Vocalize Bridge
        <hr class="w-full border-2 border-black">
        <div class="text-justify font-normal p-2 flex-grow">
          <ul class="list-disc list-inside">
            <li>Implemented a website that will convert text to voice or vice-versa.</li>
            <li>Implemented using HTML, CSS, and JavaScript.</li>
          </ul>
        </div>
      </div>

      <!-- Text Analysis -->
      <div
        class="w-60 h-72 border-2 border-black rounded-sm m-2 p-2 mb-4 text-center font-bold flex flex-col justify-between mx-auto">
        Text Analysis
        <hr class="w-full border-2 border-black">
        <div class="text-justify font-normal p-2 flex-grow">
          <ul class="list-disc list-inside">
            <li>Implemented a website to analyze the text and give the fruitful insights.</li>
            <li>Implemented using HTML, CSS, and JavaScript.</li>
          </ul>
        </div>
      </div>

      <!-- Fake News Detection -->
      <div
        class="w-60 h-72 border-2 border-black rounded-sm m-2 p-2 mb-4 text-center font-bold flex flex-col justify-between mx-auto">
        Fake News Detection
        <hr class="w-full border-2 border-black">
        <div class="text-justify font-normal p-2 flex-grow">
          <ul class="list-disc list-inside">
            <li>Implemented a program to detect whether a news is fake or not.</li>
            <li>Implemented using Machine Learning.</li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <div id="contact">
    <section class="bg-black">
      <h2 class="text-4xl font-bold mb-4 text-white p-7 m-5">Get in Touch</h2>
      <p class="text-lg mb-4 text-white ml-7">&nbsp;&nbsp;&nbsp;Feel free to reach out to us anytime for assistance or
        inquiries!</p>
      <div class="p-5 ml-7">
        <a href="mailto:contact@example.com" target="_blank"
          class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
          <i class="fas fa-envelope fa-2x"></i>
        </a>
        <a href="https://linkedin.com/in/yourlinkedinprofile" target="_blank"
          class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/explore-new" target="_blank"
          class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://pinterest.com/yourpinterestprofile" target="_blank"
          class="text-white hover:text-gray-300 transition duration-300 ease-in-out mr-4">
          <i class="fab fa-pinterest fa-2x"></i>
        </a>
        <a href="https://instagram.com/yourinstagramprofile" target="_blank"
          class="text-white hover:text-gray-300 transition duration-300 ease-in-out">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </section>
  </div>
</body>

</html>